---
// import CommentForm from './CommentForm.astro';
import CommentForm from './CommentForm.vue';
import CommentList from './CommentList.vue';
const { slug } = Astro.props;

const commentsUrl = [Astro.url.origin, '/api/comments/', slug].join('');
---

<div class="container">
  <h2>Post Comments</h2>
  <CommentForm client:load slug={slug} />
  <CommentList client:load url={commentsUrl} />
</div>

<style>
  .container {
    width: min(calc(100% - 1rem), 50ch);
    margin-inline: auto;
  }
</style>
